@import "tailwindcss";

@theme {
  --color-primary: #000033;
  --color-accent: #e31b23;
}

body {
  @apply bg-gray-50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #e31b23;
  color: white;
}

